node_modules
.next
.git
.gitignore
.env
.env.*
!.env.docker.example
!.env.example
!.env.production.example
README.md
docs
playwright-report
test-results
coverage
*.md
.DS_Store
public/uploads/blog/*
!public/uploads/blog/.gitkeep
